@import 'tailwindcss';
@import 'tw-animate-css';
@import './assets/css/theme.css';
@import './assets/css/fonts.css';
@import './assets/css/typography.css';
@import './assets/css/base.css';
@import './assets/css/components.css';
@import './assets/css/header.css';

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
    .btn {
        background-image: linear-gradient(var(--bg-color), var(--bg-color)),
            linear-gradient(
                180deg,
                rgba(252, 193, 113, 1) 0%,
                rgba(193, 124, 86, 1) 50%,
                rgba(54, 40, 33, 1) 100%
            );
        background-origin: border-box;
        background-clip: content-box, border-box;
        @apply hover:after:opacity-100 relative bottom-0 hover:bottom-1 overflow-hidden inline-flex items-center [--bg-color:#040406] hover:text-white justify-center gap-2 rounded-full border border-solid border-transparent text-sm md:text-base lg:text-lg text-[#E3E4E9] leading-normal! min-h-11 lg:min-h-13;
        span {
            @apply flex items-center justify-center bottom-px px-4 md:px-6 lg:px-8 w-full h-full relative z-1;
        }
    }
    .btn-secondary {
        --bg-color: #1a1c22;
        background-image: linear-gradient(var(--bg-color), var(--bg-color)),
            linear-gradient(180deg, #6d6d7f 0%, #292c3d 50%, #17181c 100%);
        @apply before:hidden;
    }

    .btn::after {
        content: '';
        @apply absolute size-full top-0 left-0 bg-secondary transition duration-300 opacity-0;
    }

    .btn::before {
        content: '';
        background: radial-gradient(
                30% 53.62% at 48.95% -4950%,
                var(--color-secondary) 0%,
                rgba(213, 147, 108, 0.3) 37.7%,
                rgba(213, 147, 108, 0) 89.47%
            ),
            radial-gradient(
                60.21% 66.41% at 47.91% -7.5%,
                rgba(240, 136, 88, 0.4) 0%,
                rgba(199, 96, 48, 0.32) 40.4%,
                rgba(75, 57, 48, 0.05) 79.27%,
                rgba(75, 57, 48, 0) 100%
            );
        @apply absolute size-full top-0 left-0;
    }
}

